<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smiley</key>
	<string>😃</string>
	<key>blush</key>
	<string>😊</string>
	<key>grinning</key>
	<string>😀</string>
	<key>smile</key>
	<string>😄</string>
	<key>smitten</key>
	<string>☺️</string>
	<key>wink</key>
	<string>😉</string>
	<key>heart_eyes</key>
	<string>😍</string>
	<key>blowing_kiss</key>
	<string>😘</string>
	<key>kissing</key>
	<string>😚</string>
	<key>kissing_face_open_eyes</key>
	<string>😗</string>
	<key>kissing_face</key>
	<string>😙</string>
	<key>stuck_out_tongue_wink</key>
	<string>😜</string>
	<key>stuck_out_tongue_eyes_closed</key>
	<string>😝</string>
	<key>stuck_out_tongue</key>
	<string>😛</string>
	<key>flushed</key>
	<string>😳</string>
	<key>grin</key>
	<string>😁</string>
	<key>pensive</key>
	<string>😔</string>
	<key>relieved</key>
	<string>😌</string>
	<key>unamused</key>
	<string>😒</string>
	<key>disappointed</key>
	<string>😞</string>
	<key>persevere</key>
	<string>😣</string>
	<key>crying</key>
	<string>😢</string>
	<key>tears_of_joy</key>
	<string>😂</string>
	<key>sob</key>
	<string>😭</string>
	<key>sleepy</key>
	<string>😪</string>
	<key>disappointed_but_relieved</key>
	<string>😥</string>
	<key>cold_sweat</key>
	<string>😰</string>
	<key>sweat_smile</key>
	<string>😅</string>
	<key>sweat</key>
	<string>😓</string>
	<key>weary</key>
	<string>😩</string>
	<key>tired</key>
	<string>😫</string>
	<key>fearful</key>
	<string>😨</string>
	<key>scream</key>
	<string>😱</string>
	<key>angry</key>
	<string>😠</string>
	<key>rage</key>
	<string>😡</string>
	<key>triumph</key>
	<string>😤</string>
	<key>confounded</key>
	<string>😖</string>
	<key>laughing</key>
	<string>😆</string>
	<key>yum</key>
	<string>😋 😋</string>
	<key>mask</key>
	<string>😷</string>
	<key>sunglasses</key>
	<string>😎</string>
	<key>sleeping</key>
	<string>😴</string>
	<key>dizzy_face</key>
	<string>😵</string>
	<key>astonished</key>
	<string>😲</string>
	<key>worry</key>
	<string>😟</string>
	<key>frown</key>
	<string>😦</string>
	<key>anguish</key>
	<string>😧</string>
	<key>smiling_imp</key>
	<string>😈</string>
	<key>imp</key>
	<string>👿</string>
	<key>open_mouth</key>
	<string>😮</string>
	<key>grimace</key>
	<string>😬</string>
	<key>neutral</key>
	<string>😐</string>
	<key>confused</key>
	<string>😕</string>
	<key>hushed</key>
	<string>😯</string>
	<key>no_mouth</key>
	<string>😶</string>
	<key>innocent</key>
	<string>😇</string>
	<key>smirk</key>
	<string>😏</string>
	<key>expressionless</key>
	<string>😑</string>
	<key>slight_smile</key>
	<string></string>
	<key>hugging</key>
	<string></string>
	<key>thinking</key>
	<string></string>
	<key>eyes_rolling</key>
	<string></string>
	<key>zippered_mouth</key>
	<string></string>
	<key>sad</key>
	<string></string>
	<key>nerd</key>
	<string></string>
	<key>slight_frown</key>
	<string></string>
	<key>upside_down</key>
	<string></string>
	<key>injured</key>
	<string></string>
	<key>sick</key>
	<string></string>
	<key>money_face</key>
	<string></string>
	<key>man_with_gua_pi_mao</key>
	<string>👲</string>
	<key>man_with_turban</key>
	<string>👳</string>
	<key>police_officer</key>
	<string>👮</string>
	<key>construction_worker</key>
	<string>👷</string>
	<key>spy</key>
	<string></string>
	<key>guard</key>
	<string>💂</string>
	<key>baby</key>
	<string>👶</string>
	<key>boy</key>
	<string>👦</string>
	<key>girl</key>
	<string>👧</string>
	<key>woman</key>
	<string>👩</string>
	<key>person_m</key>
	<string>👱</string>
	<key>older_man</key>
	<string>👴</string>
	<key>older_woman</key>
	<string>👵</string>
	<key>man</key>
	<string>👨</string>
	<key>angel</key>
	<string>👼</string>
	<key>princess</key>
	<string>👸</string>
	<key>smile_cat_open_eyes</key>
	<string>😺</string>
	<key>smile_cat</key>
	<string>😸</string>
	<key>heart_eyes_cat</key>
	<string>😻</string>
	<key>kissing_cat</key>
	<string>😽</string>
	<key>smirk_cat</key>
	<string>😼</string>
	<key>scream_cat</key>
	<string>🙀</string>
	<key>crying_cat</key>
	<string>😿</string>
	<key>tears_of_joy_cat</key>
	<string>😹</string>
	<key>pouting_cat</key>
	<string>😾</string>
	<key>japanese_ogre</key>
	<string>👹</string>
	<key>japanese_goblin</key>
	<string>👺</string>
	<key>hear_no_evil</key>
	<string>🙉</string>
	<key>see_no_evil</key>
	<string>🙈</string>
	<key>speak_no_evil</key>
	<string>🙊</string>
	<key>skull</key>
	<string>💀</string>
	<key>skull_and_bones</key>
	<string></string>
	<key>alien</key>
	<string>👽</string>
	<key>robot</key>
	<string></string>
	<key>poop</key>
	<string>💩</string>
	<key>fire</key>
	<string>🔥</string>
	<key>sparkles</key>
	<string>✨</string>
	<key>glowing_star</key>
	<string>🌟</string>
	<key>dizzy</key>
	<string>💫</string>
	<key>boom</key>
	<string>💥</string>
	<key>anger</key>
	<string>💢</string>
	<key>sweat_droplets</key>
	<string>💦</string>
	<key>droplet</key>
	<string>💧</string>
	<key>zzz</key>
	<string>💤</string>
	<key>dash</key>
	<string>💨</string>
	<key>ear</key>
	<string>👂</string>
	<key>eyes</key>
	<string>👀</string>
	<key>eye</key>
	<string></string>
	<key>nose</key>
	<string>👃</string>
	<key>tongue</key>
	<string>👅</string>
	<key>mouth</key>
	<string>👄</string>
	<key>thumbs_up</key>
	<string>👍</string>
	<key>thumbs_down</key>
	<string>👎</string>
	<key>ok_hand</key>
	<string>👌</string>
	<key>punch</key>
	<string>👊</string>
	<key>fist</key>
	<string>✊</string>
	<key>v</key>
	<string>✌️</string>
	<key>wave</key>
	<string>👋</string>
	<key>hand</key>
	<string>✋</string>
	<key>open_hands</key>
	<string>👐</string>
	<key>point_up_2</key>
	<string>👆</string>
	<key>point_down</key>
	<string>👇</string>
	<key>point_right</key>
	<string>👉</string>
	<key>point_left</key>
	<string>👈</string>
	<key>raised_hands</key>
	<string>🙌</string>
	<key>pray</key>
	<string>🙏</string>
	<key>point_up</key>
	<string>☝️</string>
	<key>clap</key>
	<string>👏</string>
	<key>muscle</key>
	<string>💪</string>
	<key>middle_finger</key>
	<string></string>
	<key>spock</key>
	<string></string>
	<key>rock_and_roll</key>
	<string></string>
	<key>writing_hand</key>
	<string></string>
	<key>skin</key>
	<string></string>
	<key>walking</key>
	<string>🚶</string>
	<key>running</key>
	<string>🏃</string>
	<key>dancer</key>
	<string>💃</string>
	<key>man_and_woman_holding_hands</key>
	<string>👫</string>
	<key>family</key>
	<string>👪</string>
	<key>men_holding_hands</key>
	<string>👬</string>
	<key>women_holding_hands</key>
	<string>👭</string>
	<key>couple_kiss</key>
	<string>💏</string>
	<key>couple</key>
	<string>💑</string>
	<key>dancers_with_bunny_ears</key>
	<string>👯</string>
	<key>information_person</key>
	<string>💁</string>
	<key>raising_hand</key>
	<string>🙋</string>
	<key>ok_woman</key>
	<string>🙆</string>
	<key>no_good</key>
	<string>🙅</string>
	<key>massage</key>
	<string>💆</string>
	<key>haircut</key>
	<string>💇</string>
	<key>nailpolish</key>
	<string>💅</string>
	<key>bride</key>
	<string>👰</string>
	<key>person_pouting</key>
	<string>🙎</string>
	<key>person_frowning</key>
	<string>🙍</string>
	<key>person_bowing</key>
	<string>🙇</string>
	<key>top_hat</key>
	<string>🎩</string>
	<key>crown</key>
	<string>👑</string>
	<key>hat</key>
	<string>👒</string>
	<key>prayer_beads</key>
	<string></string>
	<key>running_shoe</key>
	<string>👟</string>
	<key>shoe</key>
	<string>👞</string>
	<key>sandal</key>
	<string>👡</string>
	<key>high_heeled_shoe</key>
	<string>👠</string>
	<key>boot</key>
	<string>👢</string>
	<key>tshirt</key>
	<string>👕</string>
	<key>dress_shirt</key>
	<string>👔</string>
	<key>blouse</key>
	<string>👚</string>
	<key>dress</key>
	<string>👗</string>
	<key>shirt_with_sash</key>
	<string>🎽</string>
	<key>jeans</key>
	<string>👖</string>
	<key>kimono</key>
	<string>👘</string>
	<key>bikini</key>
	<string>👙</string>
	<key>briefcase</key>
	<string>💼</string>
	<key>handbag</key>
	<string>👜</string>
	<key>pouch</key>
	<string>👝</string>
	<key>purse</key>
	<string>👛</string>
	<key>shopping_bags</key>
	<string></string>
	<key>glasses</key>
	<string>👓</string>
	<key>ribbon</key>
	<string>🎀</string>
	<key>closed_umbrella</key>
	<string>🌂</string>
	<key>lipstick</key>
	<string>💄</string>
	<key>yellow_heart</key>
	<string>💛</string>
	<key>blue_heart</key>
	<string>💙</string>
	<key>purple_heart</key>
	<string>💜</string>
	<key>green_heart</key>
	<string>💚</string>
	<key>heart</key>
	<string>❤️</string>
	<key>broken_heart</key>
	<string>💔</string>
	<key>growing_heart</key>
	<string>💗</string>
	<key>beating_heart</key>
	<string>💓</string>
	<key>two_hearts</key>
	<string>💕</string>
	<key>sparkling_heart</key>
	<string>💖</string>
	<key>revolving_hearts</key>
	<string>💞</string>
	<key>heart_with_arrow</key>
	<string>💘</string>
	<key>heart_exclaimation_mark</key>
	<string></string>
	<key>love_letter</key>
	<string>💌</string>
	<key>kiss_mark</key>
	<string>💋</string>
	<key>ring</key>
	<string>💍</string>
	<key>gem</key>
	<string>💎</string>
	<key>bust</key>
	<string>👤</string>
	<key>two_busts</key>
	<string>👥</string>
	<key>speaking_bust</key>
	<string></string>
	<key>speech_balloon</key>
	<string>💬</string>
	<key>footprints</key>
	<string>👣</string>
	<key>thought_balloon</key>
	<string>💭</string>
	<key>hole</key>
	<string></string>
	<key>anger_balloon</key>
	<string></string>
	<key>dog_face</key>
	<string>🐶</string>
	<key>wolf_face</key>
	<string>🐺</string>
	<key>cat_face</key>
	<string>🐱</string>
	<key>mouse_face</key>
	<string>🐭</string>
	<key>hamster_face</key>
	<string>🐹</string>
	<key>rabbit_face</key>
	<string>🐰</string>
	<key>frog_face</key>
	<string>🐸</string>
	<key>tiger_face</key>
	<string>🐯</string>
	<key>koala</key>
	<string>🐨</string>
	<key>bear_face</key>
	<string>🐻</string>
	<key>pig_face</key>
	<string>🐷</string>
	<key>pig_nose</key>
	<string>🐽</string>
	<key>cow_face</key>
	<string>🐮</string>
	<key>boar</key>
	<string>🐗</string>
	<key>monkey_face</key>
	<string>🐵</string>
	<key>monkey</key>
	<string>🐒</string>
	<key>horse_face</key>
	<string>🐴</string>
	<key>unicorn</key>
	<string></string>
	<key>chipmunk</key>
	<string></string>
	<key>sheep</key>
	<string>🐑</string>
	<key>elephant</key>
	<string>🐘</string>
	<key>panda_face</key>
	<string>🐼</string>
	<key>penguin_face</key>
	<string>🐧</string>
	<key>bird_face</key>
	<string>🐦</string>
	<key>baby_chick_face</key>
	<string>🐤</string>
	<key>baby_chick</key>
	<string>🐥</string>
	<key>hatching_chick</key>
	<string>🐣</string>
	<key>chicken_face</key>
	<string>🐔</string>
	<key>turkey</key>
	<string></string>
	<key>dove</key>
	<string></string>
	<key>snake</key>
	<string>🐍</string>
	<key>turtle</key>
	<string>🐢</string>
	<key>caterpillar</key>
	<string>🐛</string>
	<key>bee</key>
	<string>🐝</string>
	<key>ant</key>
	<string>🐜</string>
	<key>ladybug</key>
	<string>🐞</string>
	<key>snail</key>
	<string>🐌</string>
	<key>octopus</key>
	<string>🐙</string>
	<key>shell</key>
	<string>🐚</string>
	<key>tropical_fish</key>
	<string>🐠</string>
	<key>fish</key>
	<string>🐟</string>
	<key>dolphin</key>
	<string>🐬</string>
	<key>spouting_whale</key>
	<string>🐳</string>
	<key>whale</key>
	<string>🐋</string>
	<key>crab</key>
	<string></string>
	<key>spider_web</key>
	<string></string>
	<key>spider</key>
	<string></string>
	<key>scorpion</key>
	<string></string>
	<key>cow</key>
	<string>🐄</string>
	<key>ram</key>
	<string>🐏</string>
	<key>rat</key>
	<string>🐀</string>
	<key>water_buffalo</key>
	<string>🐃</string>
	<key>tiger</key>
	<string>🐅</string>
	<key>rabbit</key>
	<string>🐇</string>
	<key>dragon</key>
	<string>🐉</string>
	<key>horse</key>
	<string>🐎</string>
	<key>goat</key>
	<string>🐐</string>
	<key>rooster</key>
	<string>🐓</string>
	<key>dog</key>
	<string>🐕</string>
	<key>pig</key>
	<string>🐖</string>
	<key>mouse</key>
	<string>🐁</string>
	<key>ox</key>
	<string>🐂</string>
	<key>dragon_face</key>
	<string>🐲</string>
	<key>blowfish</key>
	<string>🐡</string>
	<key>crocodile</key>
	<string>🐊</string>
	<key>camel_two_humps</key>
	<string>🐫</string>
	<key>camel_one_hump</key>
	<string>🐪</string>
	<key>leopard</key>
	<string>🐆</string>
	<key>cat</key>
	<string>🐈</string>
	<key>poodle</key>
	<string>🐩</string>
	<key>paw_prints</key>
	<string>🐾</string>
	<key>bouquet</key>
	<string>💐</string>
	<key>cherry_blossom</key>
	<string>🌸</string>
	<key>tulip</key>
	<string>🌷</string>
	<key>four_leaf_clover</key>
	<string>🍀</string>
	<key>rose</key>
	<string>🌹</string>
	<key>sunflower</key>
	<string>🌻</string>
	<key>hibiscus</key>
	<string>🌺</string>
	<key>rosette</key>
	<string></string>
	<key>maple_leaf</key>
	<string>🍁</string>
	<key>leaves_in_wind</key>
	<string>🍃</string>
	<key>fallen_leaves</key>
	<string>🍂</string>
	<key>herb</key>
	<string>🌿</string>
	<key>rice_grain</key>
	<string>🌾</string>
	<key>mushroom</key>
	<string>🍄</string>
	<key>pine_decoration</key>
	<string>🎍</string>
	<key>palm_tree</key>
	<string>🌴</string>
	<key>evergreen_tree</key>
	<string>🌲</string>
	<key>decidious_tree</key>
	<string>🌳</string>
	<key>chesnut</key>
	<string>🌰</string>
	<key>seedling</key>
	<string>🌱</string>
	<key>flower_blossom</key>
	<string>🌼</string>
	<key>globe_with_meridians</key>
	<string>🌐</string>
	<key>sun_face</key>
	<string>🌞</string>
	<key>full_moon_face</key>
	<string>🌝</string>
	<key>new_moon_face</key>
	<string>🌚</string>
	<key>new_moon</key>
	<string>🌑</string>
	<key>waxing_crescent_moon</key>
	<string>🌒</string>
	<key>first_quarter_moon</key>
	<string>🌓</string>
	<key>waxing_gibbous_moon</key>
	<string>🌔</string>
	<key>full_moon</key>
	<string>🌕</string>
	<key>waning_gibbous_moon</key>
	<string>🌖</string>
	<key>last_quarter_moon</key>
	<string>🌗</string>
	<key>waning_crescent_moon</key>
	<string>🌘</string>
	<key>last_quarter_moon_face</key>
	<string>🌜</string>
	<key>first_quarter_moon_face</key>
	<string>🌛</string>
	<key>crescent_moon</key>
	<string>🌙</string>
	<key>thermometer</key>
	<string></string>
	<key>thunder_lightning</key>
	<string></string>
	<key>sun_with_small_cloud</key>
	<string></string>
	<key>sun_with_cloud_and_rain</key>
	<string></string>
	<key>sun_behind_cloud</key>
	<string></string>
	<key>earth_europe_africa</key>
	<string>🌍</string>
	<key>earth_americas</key>
	<string>🌎</string>
	<key>earth_asia_australia</key>
	<string>🌏</string>
	<key>volcano</key>
	<string>🌋</string>
	<key>milky_way</key>
	<string>🌌</string>
	<key>shooting_star</key>
	<string>🌠</string>
	<key>comet</key>
	<string></string>
	<key>star</key>
	<string>⭐️</string>
	<key>sunny</key>
	<string>☀️</string>
	<key>partly_cloudy</key>
	<string>⛅️</string>
	<key>cloudy</key>
	<string>☁️</string>
	<key>snowy</key>
	<string></string>
	<key>rainy</key>
	<string></string>
	<key>cloud_with_lightning</key>
	<string></string>
	<key>tornado</key>
	<string></string>
	<key>fog</key>
	<string></string>
	<key>wind_blowing_face</key>
	<string></string>
	<key>lightning</key>
	<string>⚡️</string>
	<key>umbrella_with_rain</key>
	<string>☔️</string>
	<key>umbrella</key>
	<string></string>
	<key>beach_umbrella</key>
	<string></string>
	<key>snowflake</key>
	<string>❄️</string>
	<key>snowman</key>
	<string>⛄️</string>
	<key>snowman_with_snow</key>
	<string></string>
	<key>cyclone</key>
	<string>🌀</string>
	<key>foggy</key>
	<string>🌁</string>
	<key>rainbow</key>
	<string>🌈</string>
	<key>ocean</key>
	<string>🌊</string>
	<key>cactus</key>
	<string>🌵</string>
	<key>heart_with_ribbon</key>
	<string>💝</string>
	<key>japanese_dolls</key>
	<string>🎎</string>
	<key>backpack</key>
	<string>🎒</string>
	<key>graduation_cap</key>
	<string>🎓</string>
	<key>carp_streamer</key>
	<string>🎏</string>
	<key>fireworks</key>
	<string>🎆</string>
	<key>firework_sparkler</key>
	<string>🎇</string>
	<key>wind_chime</key>
	<string>🎐</string>
	<key>moon_viewing</key>
	<string>🎑</string>
	<key>jack_o_lantern</key>
	<string>🎃</string>
	<key>ghost</key>
	<string>👻</string>
	<key>santa</key>
	<string>🎅</string>
	<key>christmas_tree</key>
	<string>🎄</string>
	<key>wrapped_present</key>
	<string>🎁</string>
	<key>tanabata_tree</key>
	<string>🎋</string>
	<key>party_popper</key>
	<string>🎉</string>
	<key>confetti_ball</key>
	<string>🎊</string>
	<key>balloon</key>
	<string>🎈</string>
	<key>crossed_flags</key>
	<string>🎌</string>
	<key>crystal_ball</key>
	<string>🔮</string>
	<key>movie_camera</key>
	<string>🎥</string>
	<key>camera</key>
	<string>📷</string>
	<key>video_camera</key>
	<string>📹</string>
	<key>vhs</key>
	<string>📼</string>
	<key>cd</key>
	<string>💿</string>
	<key>dvd</key>
	<string>📀</string>
	<key>minidisc</key>
	<string>💽</string>
	<key>floppy_disk</key>
	<string>💾</string>
	<key>computer</key>
	<string>💻</string>
	<key>cellphone</key>
	<string>📱</string>
	<key>red_telephone</key>
	<string>☎️</string>
	<key>telephone</key>
	<string>📞</string>
	<key>pager</key>
	<string>📟</string>
	<key>fax_machine</key>
	<string>📠</string>
	<key>satellite_antenna</key>
	<string>📡</string>
	<key>satellite</key>
	<string></string>
	<key>tv</key>
	<string>📺</string>
	<key>radio</key>
	<string>📻</string>
	<key>loud_sound</key>
	<string>🔊</string>
	<key>sound</key>
	<string>🔉</string>
	<key>speaker</key>
	<string>🔈</string>
	<key>mute</key>
	<string>🔇</string>
	<key>bell</key>
	<string>🔔</string>
	<key>no_bell</key>
	<string>🔕</string>
	<key>loudspeaker</key>
	<string>📢</string>
	<key>megaphone</key>
	<string>📣</string>
	<key>hourglass_with_flowing_sand</key>
	<string>⏳</string>
	<key>hourglass</key>
	<string>⌛️</string>
	<key>alarm_clock</key>
	<string>⏰</string>
	<key>watch</key>
	<string>⌚️</string>
	<key>unlock</key>
	<string>🔓</string>
	<key>lock_with_ink_pen</key>
	<string>🔏</string>
	<key>lock_and_key</key>
	<string>🔐</string>
	<key>key</key>
	<string>🔑</string>
	<key>right_magnifying_glass</key>
	<string>🔎</string>
	<key>lightbulb</key>
	<string>💡</string>
	<key>flashlight</key>
	<string>🔦</string>
	<key>high_brightness</key>
	<string>🔆</string>
	<key>low_brightness</key>
	<string>🔅</string>
	<key>electric_plug</key>
	<string>🔌</string>
	<key>battery</key>
	<string>🔋</string>
	<key>left_magnifying_glass</key>
	<string>🔍</string>
	<key>bathtub</key>
	<string>🛁</string>
	<key>bath</key>
	<string>🛀</string>
	<key>shower</key>
	<string>🚿</string>
	<key>toilet</key>
	<string>🚽</string>
	<key>wrench</key>
	<string>🔧</string>
	<key>nut_and_bolt</key>
	<string>🔩</string>
	<key>hammer</key>
	<string>🔨</string>
	<key>door</key>
	<string>🚪</string>
	<key>cigarette</key>
	<string>🚬</string>
	<key>bomb</key>
	<string>💣</string>
	<key>gun</key>
	<string>🔫</string>
	<key>knife</key>
	<string>🔪</string>
	<key>pill</key>
	<string>💊</string>
	<key>syringe</key>
	<string>💉</string>
	<key>money_bag</key>
	<string>💰</string>
	<key>yen</key>
	<string>💴</string>
	<key>dollars</key>
	<string>💵</string>
	<key>pounds</key>
	<string>💷</string>
	<key>euros</key>
	<string>💶</string>
	<key>credit_card</key>
	<string>💳</string>
	<key>money_with_wings</key>
	<string>💸</string>
	<key>iphone_getting_call</key>
	<string>📲</string>
	<key>email</key>
	<string>📧</string>
	<key>inbox</key>
	<string>📥</string>
	<key>outbox</key>
	<string>📤</string>
	<key>envelope</key>
	<string>✉️</string>
	<key>envelope_with_arrow</key>
	<string>📩</string>
	<key>incoming_envelope</key>
	<string>📨</string>
	<key>postal_horn</key>
	<string>📯</string>
	<key>mailbox</key>
	<string>📫</string>
	<key>mailbox_closed</key>
	<string>📪</string>
	<key>mailboax_with_mail</key>
	<string>📬</string>
	<key>mailbox_no_mail</key>
	<string>📭</string>
	<key>postbox</key>
	<string>📮</string>
	<key>package</key>
	<string>📦</string>
	<key>memo</key>
	<string>📝</string>
	<key>page</key>
	<string>📄</string>
	<key>page_with_curl</key>
	<string>📃</string>
	<key>bookmark_tabs</key>
	<string>📑</string>
	<key>bar_chart</key>
	<string>📊</string>
	<key>upwards_chart</key>
	<string>📈</string>
	<key>downwards_chart</key>
	<string>📉</string>
	<key>scroll</key>
	<string>📜</string>
	<key>clipboard</key>
	<string>📋</string>
	<key>date</key>
	<string>📅</string>
	<key>calendar</key>
	<string>📆</string>
	<key>card_index</key>
	<string>📇</string>
	<key>file</key>
	<string>📁</string>
	<key>open_file</key>
	<string>📂</string>
	<key>scissors</key>
	<string>✂️</string>
	<key>pushpin</key>
	<string>📌</string>
	<key>paperclip</key>
	<string>📎</string>
	<key>nib</key>
	<string>✒️</string>
	<key>pencil</key>
	<string>✏️</string>
	<key>ruler</key>
	<string>📏</string>
	<key>triangular_ruler</key>
	<string>📐</string>
	<key>closed_book</key>
	<string>📕</string>
	<key>green_book</key>
	<string>📗</string>
	<key>blue_book</key>
	<string>📘</string>
	<key>orange_book</key>
	<string>📙</string>
	<key>notebook</key>
	<string>📓</string>
	<key>orange_notebook</key>
	<string>📔</string>
	<key>ledger</key>
	<string>📒</string>
	<key>books</key>
	<string>📚</string>
	<key>open_book</key>
	<string>📖</string>
	<key>bookmark</key>
	<string>🔖</string>
	<key>name_badge</key>
	<string>📛</string>
	<key>microscope</key>
	<string>🔬</string>
	<key>telescope</key>
	<string>🔭</string>
	<key>newspaper</key>
	<string>📰</string>
	<key>art</key>
	<string>🎨</string>
	<key>clapper_board</key>
	<string>🎬</string>
	<key>microphone</key>
	<string>🎤</string>
	<key>earphones</key>
	<string>🎧</string>
	<key>music_score</key>
	<string>🎼</string>
	<key>music_note</key>
	<string>🎵</string>
	<key>multiple_music_notes</key>
	<string>🎶</string>
	<key>piano</key>
	<string>🎹</string>
	<key>violin</key>
	<string>🎻</string>
	<key>trumpet</key>
	<string>🎺</string>
	<key>saxophone</key>
	<string>🎷</string>
	<key>guitar</key>
	<string>🎸</string>
	<key>video_game_alien</key>
	<string>👾</string>
	<key>video_game</key>
	<string>🎮</string>
	<key>joker</key>
	<string>🃏</string>
	<key>flower_playing_cards</key>
	<string>🎴</string>
	<key>mahjong</key>
	<string>🀄️</string>
	<key>dice</key>
	<string>🎲</string>
	<key>target</key>
	<string>🎯</string>
	<key>football</key>
	<string>🏈</string>
	<key>basketball</key>
	<string>🏀</string>
	<key>soccer</key>
	<string>⚽️</string>
	<key>baseball</key>
	<string>⚾️</string>
	<key>tennis</key>
	<string>🎾</string>
	<key>billards</key>
	<string>🎱</string>
	<key>rugby_ball</key>
	<string>🏉</string>
	<key>bowling</key>
	<string>🎳</string>
	<key>golf</key>
	<string>⛳️</string>
	<key>mountain_biker</key>
	<string>🚵</string>
	<key>bicyclist</key>
	<string>🚴</string>
	<key>checkered_flag</key>
	<string>🏁</string>
	<key>hoorse_racing</key>
	<string>🏇</string>
	<key>trophy</key>
	<string>🏆</string>
	<key>skis</key>
	<string>🎿</string>
	<key>snowboarding</key>
	<string>🏂</string>
	<key>swimming</key>
	<string>🏊</string>
	<key>surfing</key>
	<string>🏄</string>
	<key>fishing</key>
	<string>🎣</string>
	<key>hot_beverage</key>
	<string>☕️</string>
	<key>soup</key>
	<string>🍵</string>
	<key>sake_bottle_and_cup</key>
	<string>🍶</string>
	<key>baby_bottle</key>
	<string>🍼</string>
	<key>beer</key>
	<string>🍺</string>
	<key>clinking_beer_mugs</key>
	<string>🍻</string>
	<key>cocktail</key>
	<string>🍸</string>
	<key>tropical_drink</key>
	<string>🍹</string>
	<key>wine</key>
	<string>🍷</string>
	<key>champagne</key>
	<string></string>
	<key>cutlery</key>
	<string>🍴</string>
	<key>cutlery_with_plate</key>
	<string></string>
	<key>pizza</key>
	<string>🍕</string>
	<key>burger</key>
	<string>🍔</string>
	<key>french_fries</key>
	<string>🍟</string>
	<key>chicken_leg</key>
	<string>🍗</string>
	<key>meat</key>
	<string>🍖</string>
	<key>spaghetti</key>
	<string>🍝</string>
	<key>rice_and_curry</key>
	<string>🍛 </string>
	<key>bento_box</key>
	<string>🍱</string>
	<key>sushi</key>
	<string>🍣</string>
	<key>fish_cake</key>
	<string>🍥</string>
	<key>rice_ball</key>
	<string>🍙</string>
	<key>rice_cracker</key>
	<string>🍘</string>
	<key>rice</key>
	<string>🍚</string>
	<key>noodles</key>
	<string>🍜</string>
	<key>oden</key>
	<string>🍢</string>
	<key>dango</key>
	<string>🍡</string>
	<key>shrimp</key>
	<string></string>
	<key>cooking</key>
	<string>🍳</string>
	<key>bread</key>
	<string>🍞</string>
	<key>cheese</key>
	<string></string>
	<key>taco</key>
	<string></string>
	<key>popcorn</key>
	<string></string>
	<key>pot_of_food</key>
	<string></string>
	<key>burrito</key>
	<string></string>
	<key>hotdog</key>
	<string></string>
	<key>donut</key>
	<string>🍩</string>
	<key>custard</key>
	<string>🍮</string>
	<key>soft_serve_icecream</key>
	<string>🍦</string>
	<key>icecream</key>
	<string>🍨</string>
	<key>snowcone</key>
	<string>🍧</string>
	<key>birthday_cake</key>
	<string>🎂</string>
	<key>shortcake</key>
	<string>🍰</string>
	<key>cookie</key>
	<string>🍪</string>
	<key>chocolate</key>
	<string>🍫</string>
	<key>candy</key>
	<string>🍬</string>
	<key>lollipop</key>
	<string>🍭</string>
	<key>honey</key>
	<string>🍯</string>
	<key>apple</key>
	<string>🍎</string>
	<key>green_apple</key>
	<string>🍏</string>
	<key>orange</key>
	<string>🍊</string>
	<key>lemon</key>
	<string>🍋</string>
	<key>cherries</key>
	<string>🍒</string>
	<key>grapes</key>
	<string>🍇</string>
	<key>watermelon</key>
	<string>🍉</string>
	<key>strawberry</key>
	<string>🍓</string>
	<key>peach</key>
	<string>🍑</string>
	<key>melon</key>
	<string>🍈</string>
	<key>banana</key>
	<string>🍌</string>
	<key>pear</key>
	<string>🍐</string>
	<key>pineapple</key>
	<string>🍍</string>
	<key>sweet_potato</key>
	<string>🍠</string>
	<key>eggplant</key>
	<string>🍆</string>
	<key>tomato</key>
	<string>🍅</string>
	<key>corn</key>
	<string>🌽</string>
	<key>pepper</key>
	<string></string>
	<key>amphora</key>
	<string></string>
	<key>world_map</key>
	<string></string>
	<key>mountain</key>
	<string></string>
	<key>mountain_with_snow</key>
	<string></string>
	<key>beach</key>
	<string></string>
	<key>desert</key>
	<string></string>
	<key>deserted_island</key>
	<string></string>
	<key>national_park</key>
	<string></string>
	<key>stadium</key>
	<string></string>
	<key>classical_building</key>
	<string></string>
	<key>construction_zone</key>
	<string></string>
	<key>cityscape</key>
	<string></string>
	<key>neighbourhood</key>
	<string></string>
	<key>derelict_house</key>
	<string></string>
	<key>house</key>
	<string>🏠</string>
	<key>house_with_graden</key>
	<string>🏡</string>
	<key>school</key>
	<string>🏫</string>
	<key>office_building</key>
	<string>🏢</string>
	<key>japanese_post_office</key>
	<string>🏣</string>
	<key>hospital</key>
	<string>🏥</string>
	<key>bank</key>
	<string>🏦</string>
	<key>convinence_store</key>
	<string>🏪</string>
	<key>love_hotel</key>
	<string>🏩</string>
	<key>hotel</key>
	<string>🏨</string>
	<key>wedding</key>
	<string>💒</string>
	<key>church</key>
	<string>⛪️</string>
	<key>kaaba</key>
	<string></string>
	<key>place_of_worship</key>
	<string></string>
	<key>mosque</key>
	<string></string>
	<key>synagogue</key>
	<string></string>
	<key>department_store</key>
	<string>🏬</string>
	<key>post_office</key>
	<string>🏤</string>
	<key>sunset_over_buildings</key>
	<string>🌇</string>
	<key>dusk</key>
	<string>🌆</string>
	<key>japanese_castle</key>
	<string>🏯</string>
	<key>castle</key>
	<string>🏰</string>
	<key>tent</key>
	<string>⛺️</string>
	<key>camping</key>
	<string></string>
	<key>factory</key>
	<string>🏭</string>
	<key>tokyo_tower</key>
	<string>🗼</string>
	<key>japan_silhouette</key>
	<string>🗾</string>
	<key>mount_fuji</key>
	<string>🗻</string>
	<key>mountain_sunrise</key>
	<string>🌄</string>
	<key>sunrise</key>
	<string>🌅</string>
	<key>night_with_stars</key>
	<string>🌃</string>
	<key>statue_of_liberty</key>
	<string>🗽</string>
	<key>bridge</key>
	<string>🌉</string>
	<key>carousel</key>
	<string>🎠</string>
	<key>ferris_wheel</key>
	<string>🎡</string>
	<key>fountain</key>
	<string>⛲️</string>
	<key>rollercoaster</key>
	<string>🎢</string>
	<key>ship</key>
	<string>🚢</string>
	<key>sailboat</key>
	<string>⛵️</string>
	<key>speedboat</key>
	<string>🚤</string>
	<key>rowboat</key>
	<string>🚣</string>
	<key>passenger_ship</key>
	<string></string>
	<key>ferry</key>
	<string></string>
	<key>motorboat</key>
	<string></string>
	<key>anchor</key>
	<string>⚓️</string>
	<key>rocket</key>
	<string>🚀</string>
	<key>airplane</key>
	<string>✈️</string>
	<key>small_airplane</key>
	<string></string>
	<key>airplane_departure</key>
	<string></string>
	<key>airplane_arrival</key>
	<string></string>
	<key>seat</key>
	<string>💺</string>
	<key>helicopter</key>
	<string>🚁</string>
	<key>steam_train</key>
	<string>🚂</string>
	<key>tram</key>
	<string>🚊</string>
	<key>station</key>
	<string>🚉</string>
	<key>mountain_railway</key>
	<string>🚞</string>
	<key>oncoming_train</key>
	<string>🚆</string>
	<key>train_high_speed</key>
	<string>🚄</string>
	<key>train_bullet_nose</key>
	<string>🚅</string>
	<key>light_rail</key>
	<string>🚈</string>
	<key>subway</key>
	<string>🚇</string>
	<key>monorail</key>
	<string>🚝</string>
	<key>tram_car</key>
	<string>🚋</string>
	<key>railway_car</key>
	<string>🚃</string>
	<key>bus</key>
	<string>🚌</string>
	<key>trolley_bus</key>
	<string>🚎</string>
	<key>oncoming_bus</key>
	<string>🚍</string>
	<key>blue_car</key>
	<string>🚙</string>
	<key>oncoming_car</key>
	<string>🚘</string>
	<key>red_car</key>
	<string>🚗</string>
	<key>taxi</key>
	<string>🚕</string>
	<key>oncoming_taxi</key>
	<string>🚖</string>
	<key>articulated_lorry</key>
	<string>🚛</string>
	<key>delivery_truck</key>
	<string>🚚</string>
	<key>sirens</key>
	<string>🚨</string>
	<key>police_car</key>
	<string>🚓</string>
	<key>oncoming_police_car</key>
	<string>🚔</string>
	<key>firetruck</key>
	<string>🚒</string>
	<key>ambulance</key>
	<string>🚑</string>
	<key>minibus</key>
	<string>🚐</string>
	<key>bicycle</key>
	<string>🚲</string>
	<key>aerial_tramway</key>
	<string>🚡</string>
	<key>suspension_railway</key>
	<string>🚟</string>
	<key>mountain_cableway</key>
	<string>🚠</string>
	<key>tractor</key>
	<string>🚜</string>
	<key>barber</key>
	<string>💈</string>
	<key>bus_stop</key>
	<string>🚏</string>
	<key>ticket</key>
	<string>🎫</string>
	<key>vertical_traffic_light</key>
	<string>🚦</string>
	<key>horizontal_traffic_light</key>
	<string>🚥</string>
	<key>warning</key>
	<string>⚠️</string>
	<key>construction</key>
	<string>🚧</string>
	<key>beginner</key>
	<string>🔰</string>
	<key>fuel_pump</key>
	<string>⛽️</string>
	<key>oil_drum</key>
	<string></string>
	<key>railway_track</key>
	<string></string>
	<key>highway</key>
	<string></string>
	<key>izakaya_lantern</key>
	<string>🏮</string>
	<key>slot_machine</key>
	<string>🎰</string>
	<key>hot_springs</key>
	<string>♨️</string>
	<key>moyai</key>
	<string>🗿</string>
	<key>circus</key>
	<string>🎪</string>
	<key>performing_arts</key>
	<string>🎭</string>
	<key>frame_with_picture</key>
	<string></string>
	<key>bellhop_bell</key>
	<string></string>
	<key>round_push_pin</key>
	<string>📍</string>
	<key>triangular_flag</key>
	<string>🚩</string>
	<key>japan</key>
	<string>🇯🇵</string>
	<key>korea</key>
	<string>🇰🇷</string>
	<key>usa</key>
	<string>🇺🇸</string>
	<key>china</key>
	<string>🇨🇳</string>
	<key>spain</key>
	<string>🇪🇸</string>
	<key>germany</key>
	<string>🇩🇪</string>
	<key>russia</key>
	<string>🇷🇺</string>
	<key>italy</key>
	<string>🇮🇹</string>
	<key>france</key>
	<string>🇫🇷</string>
	<key>england</key>
	<string>🇬🇧</string>
	<key>1</key>
	<string>1️⃣</string>
	<key>2</key>
	<string>2️⃣</string>
	<key>3</key>
	<string>3️⃣</string>
	<key>4</key>
	<string>4️⃣</string>
	<key>5</key>
	<string>5️⃣</string>
	<key>6</key>
	<string>6️⃣</string>
	<key>7</key>
	<string>7️⃣</string>
	<key>8</key>
	<string>8️⃣</string>
	<key>9</key>
	<string>9️⃣</string>
	<key>0</key>
	<string>0️⃣</string>
	<key>10</key>
	<string>🔟</string>
	<key>1234</key>
	<string>🔢</string>
	<key>#</key>
	<string>#️⃣</string>
	<key>symbols</key>
	<string>🔣</string>
	<key>arrowleft</key>
	<string>⬅️</string>
	<key>arrowright</key>
	<string>➡️</string>
	<key>arrowup</key>
	<string>⬆️</string>
	<key>arrowdown</key>
	<string>⬇️</string>
	<key>abcd</key>
	<string>🔡</string>
	<key>abc</key>
	<string>🔤</string>
	<key>arrowupperright</key>
	<string>↗️</string>
	<key>arrowupperleft</key>
	<string>↖️</string>
	<key>arrowlowerright</key>
	<string>↘️</string>
	<key>arrowlowerleft</key>
	<string>↙️</string>
	<key>arrowleftright</key>
	<string>↔️</string>
	<key>arrowupdown</key>
	<string>↕️</string>
	<key>arrowscounterclockwise</key>
	<string>🔄</string>
	<key>arrowleftsmall</key>
	<string>◀️</string>
	<key>arrowrightsmall</key>
	<string>▶️</string>
	<key>arrowupsmall</key>
	<string>🔼</string>
	<key>arrowdownsmall</key>
	<string>🔽</string>
	<key>arrowlefthook</key>
	<string>↩️</string>
	<key>arrowrighthook</key>
	<string>↪️</string>
	<key>informationsource</key>
	<string>ℹ️</string>
	<key>rewind</key>
	<string>⏪</string>
	<key>fastforward</key>
	<string>⏩</string>
	<key>arrowdoubleup</key>
	<string>⏫</string>
	<key>arrowdoubledown</key>
	<string>⏬</string>
	<key>arrowheadingdown</key>
	<string>⤵️</string>
	<key>arrowheadingup</key>
	<string>⤴️</string>
	<key>ok</key>
	<string>🆗</string>
	<key>twistedarrows</key>
	<string>🔀</string>
	<key>repeat</key>
	<string>🔁</string>
	<key>repeatone</key>
	<string>🔂</string>
	<key>new</key>
	<string>🆕</string>
	<key>up</key>
	<string>🆙</string>
	<key>cool</key>
	<string>🆒</string>
	<key>free</key>
	<string>🆓</string>
	<key>ng</key>
	<string>🆖</string>
	<key>signalstrength</key>
	<string>📶</string>
	<key>cinema</key>
	<string>🎦</string>
	<key>koko</key>
	<string>🈁</string>
	<key>u6307</key>
	<string>🈯️</string>
	<key>u7a7a</key>
	<string>🈳</string>
	<key>advantage</key>
	<string>🉐</string>
	<key>u5272</key>
	<string>🈹</string>
	<key>u55b6</key>
	<string>🈺</string>
	<key>u6709</key>
	<string>🈶</string>
	<key>u7121</key>
	<string>🈚️</string>
	<key>restroom</key>
	<string>🚻</string>
	<key>mens</key>
	<string>🚹</string>
	<key>womens</key>
	<string>🚺</string>
	<key>babysymbol</key>
	<string>🚼</string>
	<key>wc</key>
	<string>🚾</string>
	<key>potablewater</key>
	<string>🚰</string>
	<key>trash</key>
	<string>🚮</string>
	<key>parking</key>
	<string>🅿️</string>
	<key>wheelchair</key>
	<string>♿️</string>
	<key>nosmoking</key>
	<string>🚭</string>
	<key>u6708</key>
	<string>🈷</string>
	<key>u7533</key>
	<string>🈸</string>
	<key>sa</key>
	<string>🈂</string>
	<key>m</key>
	<string>Ⓜ️</string>
	<key>passportcontrol</key>
	<string>🛂</string>
	<key>baggageclaim</key>
	<string>🛄</string>
	<key>leftluggage</key>
	<string>🛅</string>
	<key>customs</key>
	<string>🛃</string>
	<key>accept</key>
	<string>🉑</string>
	<key>secret</key>
	<string>㊙️</string>
	<key>u7981</key>
	<string>🈲</string>
	<key>u6e80</key>
	<string>🈵</string>
	<key>u5408</key>
	<string>🈴</string>
	<key>congratulations</key>
	<string>㊗️</string>
	<key>cl</key>
	<string>🆑</string>
	<key>sos</key>
	<string>🆘</string>
	<key>id</key>
	<string>🆔</string>
	<key>noentrysign</key>
	<string>🚫</string>
	<key>nounderage</key>
	<string>🔞</string>
	<key>nomobilephones</key>
	<string>📵</string>
	<key>nolittering</key>
	<string>🚯</string>
	<key>nopotablewater</key>
	<string>🚱</string>
	<key>nobicycles</key>
	<string>🚳</string>
	<key>nopedestrians</key>
	<string>🚷</string>
	<key>childrencrossing</key>
	<string>🚸</string>
	<key>noentry</key>
	<string>⛔️</string>
	<key>whiteasterisk</key>
	<string>✳️</string>
	<key>sparkle</key>
	<string>❇️</string>
	<key>whitecrossmark</key>
	<string>❎</string>
	<key>whitecheckmark</key>
	<string>✅</string>
	<key>fourpointedorangestar</key>
	<string>✴️</string>
	<key>heartdecoration</key>
	<string>💟</string>
	<key>vs</key>
	<string>🆚</string>
	<key>vibrationmode</key>
	<string>📳</string>
	<key>mobilephoneoff</key>
	<string>📴</string>
	<key>ab</key>
	<string>🆎</string>
	<key>b</key>
	<string>🅱</string>
	<key>a</key>
	<string>🅰</string>
	<key>oinred</key>
	<string>🅾</string>
	<key>diamondwithdotinside</key>
	<string>💠</string>
	<key>loop</key>
	<string>➰</string>
	<key>recycle</key>
	<string>♻️</string>
	<key>aries</key>
	<string>♈️</string>
	<key>taurus</key>
	<string>♉️</string>
	<key>gemini</key>
	<string>♊️</string>
	<key>cancer</key>
	<string>♋️</string>
	<key>leo</key>
	<string>♌️</string>
	<key>virgo</key>
	<string>♍️</string>
	<key>libra</key>
	<string>♎️</string>
	<key>scorpio</key>
	<string>♏️</string>
	<key>sagittarius</key>
	<string>♐️</string>
	<key>capricorn</key>
	<string>♑️</string>
	<key>aquarius</key>
	<string>♒️</string>
	<key>pisces</key>
	<string>♓️</string>
	<key>ophiuchus</key>
	<string>⛎</string>
	<key>sixpointedstar</key>
	<string>🔯</string>
	<key>menorah</key>
	<string></string>
	<key>atm</key>
	<string>🏧</string>
	<key>currencychart</key>
	<string>💹</string>
	<key>heavydollarsign</key>
	<string>💲</string>
	<key>currencyexchange</key>
	<string>💱</string>
	<key>copyright</key>
	<string>©</string>
	<key>registered</key>
	<string>®</string>
	<key>tm</key>
	<string>™</string>
	<key>!!</key>
	<string>‼️</string>
	<key>!?</key>
	<string>⁉️</string>
	<key>red!</key>
	<string>❗️</string>
	<key>red?</key>
	<string>❓</string>
	<key>grey!</key>
	<string>❕</string>
	<key>grey?</key>
	<string>❔</string>
	<key>o</key>
	<string>⭕️</string>
	<key>top</key>
	<string>🔝</string>
	<key>end</key>
	<string>🔚</string>
	<key>back</key>
	<string>🔙</string>
	<key>on</key>
	<string>🔛</string>
	<key>soon</key>
	<string>🔜</string>
	<key>arrowsclockwise</key>
	<string>🔃</string>
	<key>clock12</key>
	<string>🕛</string>
	<key>clock1</key>
	<string>🕐</string>
	<key>clock2</key>
	<string>🕑</string>
	<key>clock3</key>
	<string>🕒</string>
	<key>clock4</key>
	<string>🕓</string>
	<key>clock5</key>
	<string>🕔</string>
	<key>clock6</key>
	<string>🕕</string>
	<key>clock7</key>
	<string>🕖</string>
	<key>clock8</key>
	<string>🕗</string>
	<key>clock9</key>
	<string>🕘</string>
	<key>clock10</key>
	<string>🕙</string>
	<key>clock11</key>
	<string>🕚</string>
	<key>clock130</key>
	<string></string>
	<key>clock230</key>
	<string></string>
	<key>clock330</key>
	<string></string>
	<key>clock430</key>
	<string></string>
	<key>clock530</key>
	<string></string>
	<key>clock630</key>
	<string>🕡</string>
	<key>clock730</key>
	<string>🕢</string>
	<key>clock830</key>
	<string>🕣</string>
	<key>clock930</key>
	<string>🕤</string>
	<key>clock1030</key>
	<string>🕥</string>
	<key>clock1130</key>
	<string>🕦</string>
	<key>clock1230</key>
	<string></string>
	<key>heavyplussign</key>
	<string>✚</string>
	<key>heavymultiplicationsign</key>
	<string>✖️</string>
	<key>heavyminussign</key>
	<string>➖</string>
	<key>heavydivisionsign</key>
	<string>➗</string>
	<key>spades</key>
	<string>♠️</string>
	<key>hearts</key>
	<string>♥️</string>
	<key>clubs</key>
	<string>♣️</string>
	<key>diamonds</key>
	<string>♦️</string>
	<key>whiteflower</key>
	<string>💮</string>
	<key>100</key>
	<string>💯</string>
	<key>heavycheckmark</key>
	<string>✔️</string>
	<key>ballotboxwithcheck</key>
	<string>☑️</string>
	<key>radiobutton</key>
	<string>🔘</string>
	<key>link</key>
	<string>🔗</string>
	<key>curlyloop</key>
	<string>➰</string>
	<key>wavydash</key>
	<string>〰</string>
	<key>partalterationmark</key>
	<string>〽️</string>
	<key>trident</key>
	<string>🔱</string>
	<key>mediumblacksquare</key>
	<string>◼️</string>
	<key>mediumwhitesquare</key>
	<string>◻️</string>
	<key>smallmediumblacksquare</key>
	<string>◾️</string>
	<key>smallmediumwhiteswuare</key>
	<string>◽️</string>
	<key>smallblacksquare</key>
	<string>▪️</string>
	<key>smallswhitesquare</key>
	<string>▫️</string>
	<key>smalluppointtriangle</key>
	<string>🔺</string>
	<key>blackwithwhitesquare</key>
	<string>🔲</string>
	<key>whitewithblackquare</key>
	<string>🔳</string>
	<key>bigblackcircle</key>
	<string>⚫️</string>
	<key>bigwhitecircle</key>
	<string>⚪️</string>
	<key>bigredcircle</key>
	<string>🔴</string>
	<key>bigbluecircle</key>
	<string>🔵</string>
	<key>smalldownpointtriange</key>
	<string>🔻</string>
	<key>bigwhitesquare</key>
	<string>⬜️</string>
	<key>bigblacksquare</key>
	<string>⬛️</string>
	<key>bigorangediamond</key>
	<string>🔶</string>
	<key>bigbluediamond</key>
	<string>🔷</string>
	<key>smallorangediamond</key>
	<string>🔸</string>
	<key>smallbluediamond</key>
	<string>🔹</string>
	<key>sleeping_accomodation</key>
	<string></string>
	<key>bed</key>
	<string></string>
	<key>sofa</key>
	<string></string>
	<key>stopwatch</key>
	<string></string>
	<key>timer</key>
	<string></string>
	<key>mantlepiece_clock</key>
	<string></string>
	<key>military_medal</key>
	<string></string>
	<key>reminder_ribbon</key>
	<string></string>
	<key>film_frames</key>
	<string></string>
	<key>admission_ticket</key>
	<string></string>
	<key>tag</key>
	<string></string>
	<key>golfer</key>
	<string></string>
	<key>ice_skate</key>
	<string></string>
	<key>skier</key>
	<string></string>
	<key>basketball_player</key>
	<string></string>
	<key>weightlifter</key>
	<string></string>
	<key>race_car</key>
	<string></string>
	<key>motorcycle</key>
	<string></string>
	<key>medal</key>
	<string></string>
	<key>cricket</key>
	<string></string>
	<key>volleyball</key>
	<string></string>
	<key>field_hockey</key>
	<string></string>
	<key>ice_hockey</key>
	<string></string>
	<key>table_tennis</key>
	<string></string>
	<key>badminton</key>
	<string></string>
	<key>joystick</key>
	<string></string>
	<key>play_pause</key>
	<string></string>
	<key>to_end</key>
	<string></string>
	<key>to_beginning</key>
	<string></string>
	<key>pause</key>
	<string></string>
	<key>stop</key>
	<string></string>
	<key>record</key>
	<string></string>
	<key>studio_microphone</key>
	<string></string>
	<key>level_slider</key>
	<string></string>
	<key>control_knobs</key>
	<string></string>
	<key>*</key>
	<string></string>
	<key>laptop</key>
	<string></string>
	<key>film_projector</key>
	<string></string>
	<key>camera_with_flash</key>
	<string></string>
	<key>candle</key>
	<string></string>
	<key>rolled_up_newspaper</key>
	<string></string>
	<key>ballot_box</key>
	<string></string>
	<key>fountain_pen</key>
	<string></string>
	<key>pen</key>
	<string></string>
	<key>paintbrush</key>
	<string></string>
	<key>crayon</key>
	<string></string>
	<key>card_index_dividers</key>
	<string></string>
	<key>spiral_notepad</key>
	<string></string>
	<key>spiral_calendar_pad</key>
	<string></string>
	<key>linked_paperclips</key>
	<string></string>
	<key>card_file_box</key>
	<string></string>
	<key>file_cabinet</key>
	<string></string>
	<key>garbage_bin</key>
	<string></string>
	<key>old_key</key>
	<string></string>
	<key>pick</key>
	<string></string>
	<key>hammer_and_pick</key>
	<string></string>
	<key>hammer_and_wrench</key>
	<string></string>
	<key>gear</key>
	<string></string>
	<key>clamp</key>
	<string></string>
	<key>alembic</key>
	<string></string>
	<key>scale</key>
	<string></string>
	<key>chains</key>
	<string></string>
	<key>dagger</key>
	<string></string>
	<key>swords</key>
	<string></string>
	<key>shield</key>
	<string></string>
	<key>bow_and_arrow</key>
	<string></string>
	<key>coffin</key>
	<string></string>
	<key>urn</key>
	<string></string>
	<key>white_flag</key>
	<string></string>
	<key>black_flag</key>
	<string></string>
</dict>
</plist>
